<%- include('../includes/head.ejs') %> 

</head>
    <div>
        <h2><%= errorMessage %> </h2>
    </div>
    <form action="/reset-password" method="POST">
        <input type="email" name="email" placeholder="email">
        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
        <button type="submit" name="send-email">Send E-mail</button>
        <h3>You will recive an email within a minute. If you do not recive then try again and check your email</h3>
    </form>
</body>
</html>