<%- include('../includes/head.ejs') %> 

</head>
    <div>
        <h2><%= errorMessage %> </h2>
    </div>
    <form action="/reset" method="POST">
        <input type="email" name="email" placeholder="Enter new password">
        <input type="password" name="password" placeholder="Confirm new password">
        <button type="submit" name="update-password">Update password</button>
    </form>
</body>
</html>