<link rel="stylesheet" href="/css/navigation.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/js/all.min.js" integrity="sha512-UwcC/iaz5ziHX7V6LjSKaXgCuRRqbTp1QHpbOJ4l1nw2/boCfZ2KlFIqBUA/uRVF0onbREnY9do8rM/uT/ilqw==" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />

</head>
<body>
    <header>
        <nav>
            <ul>
                <li> <a href="#" id="fb"> <i class="fab fa-facebook-f    "></i> </a> </li>
                <li> <button id="search_btn" class="" data-tooltip="Search"> <i class="fas fa-search    "></i> </button> </li>
                
                <li id="space2"></li>
                
                <li> <a class="active" data-tooltip="Home" href="#" id="home"> <i class="fas fa-home    "></i> </a> </li>
                <li> <a class="" data-tooltip="Group" href="#" id="group"> <i class="fas fa-user"></i> </a></li>
                <li> <a class="" data-tooltip="Watch" href="#" id="tv"> <i class="fas fa-tv    "></i> </a> </li>
                <li> <a class="" data-tooltip="Friend" href="#" id="friend"> <i class="fas fa-user-alt    "></i> </a> </li>
                <li id="space1"></li>
                <li> <button class="" data-tooltip="Add" id="btn_plus"><i class="fas fa-plus    "></i></button> </li>
                <li> <button class="" data-tooltip="Message" id="btn_msg"><i class="fab fa-facebook-messenger    "></i></button></li>
                <li> <button class="" data-tooltip="Notification" id="btn_bell"> <i class="fas fa-bell    "></i></button></li>
                <li>  <button class="" data-tooltip="Profile" id="btn_profile"><i class="fas fa-user-cog    "></i></button>  </li>
            </ul>
        </nav>
    </header>
