<form class="w-100" action="/add-post" enctype="multipart/form-data" method="POST">
    <div class="form-group">
        <input type="file" name="image" id="image">
    </div>
    <div class="form-group">
        <label for="description">Description</label>
        <textarea rows="5" class="form-control" name="description" ></textarea>
    </div>
    <div class="form-group float-right">
        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
        <button type="submit" class="btn btn-primary float-right">
            Add Post
        </button>
    </div>
</form>
